/* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*--- end of reset ----*/

:root {
  --blanco: white;
  --gris-medio: #333333;
  --gris-oscuro: #1e1e1e;
  --main-font: "Oswald", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --shadow: rgba(0, 0, 0, 0.75);
  --verde: #7ac943;
}

body, header, section {
  align-items: center;
  background-color: var(--gris-medio);
  display: flex;
  flex-direction: column;
  width: 100%;
}
a{
  text-decoration: none;
}
.skip-link:focus{
  outline: none;
  border-radius: 5px;
  border:rgba(0, 0, 0, 0.75);
  border: 2px solid var(--blanco)
}
.skip-link{
  height: 0;
}

.skip-link:focus,
.skip-link:active{
  background: var(--verde);
  height: auto;
  padding: 5px;
  margin: 20px 10px;
  color: var(--gris-oscuro);
  font-family: var(--secondary-font);
  font-size: 20px;
  position: absolute;
}

.header {
  color: var(--blanco);
  font-family: var(--main-font);
  font-size: 55px;
  margin-top: 16px;
}

.subtitle {
  color: var(--verde);
  font-family: var(--secondary-font);
  font-size: 24px;
}

.header-img {
  background: center / contain no-repeat url(./images/juliana.jpeg);
  border-radius: 50%;
  border: 1px solid var(--gris-oscuro);
  box-shadow: 8px 16px 32px 0px var(--shadow);
  height: 300px;
  margin-top: 80px;
  width: 300px;
}

.navigation {
  color: var(--blanco);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin: 24px 0;
  width: 50%;
}
.navigation ul{
  width: 100%;
  display: flex;
}
.nav-item {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-family: var(--secondary-font);
  height: 30px;
  justify-content: center;
  width: 33%;
}
.nav-item:focus-within{
  background: var(--verde);
}
.nav-item a:focus{
  color: var(--gris-oscuro);
}

.nav-item a {
  outline: none;
  color: #fff;
}

.nav-item:hover {
  background-color: var(--verde);
}
.nav-item:hover a{
  color: var( --gris-oscuro );
  cursor: pointer;
}

.intro {
  margin: 24px 196px 0px;
  font-family: var(--secondary-font);
}

.intro p {
  color: #fff;
}

.social-media {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 32px auto 0;
  width: auto;
}
.social-media li a:focus{
  outline: 2px solid var(--verde);
  padding: 5px;
}

.social-media li a{
  display: flex;
  align-items: center;
}
.icon-link{
  padding: 0px 10px;
}

.carousel {
  align-items: center;
  display: flex;
  margin: 48px 0 64px;
}

.window {
  overflow: hidden;
  width: 815px;
  padding: 8px;
}

.project-container {
  left: 0;
  position: relative;
  width: 1500px;
}

.project-container li{
  display: inline-block;
}

.project {
  border-radius: 5px;
  border: 2px solid #000;
  height: 400px;
  margin: 0 8px;
  width: 250px;
}

.project:focus{
  outline: 3px solid var(--verde);
  padding: 5px;
}

.project img{
  height: 100%;
  object-fit: cover;
  display: inline;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.arrow {
  height: 75px;
  transition: all 0.2s ease-in-out;
  width: 75px;
  cursor: pointer;
}

.arrow:hover {
  transform: scale(1.1);
}

.arrow:focus{
  outline: 3px solid var(--verde);
}

.arrow-left {
  background: center / contain no-repeat url(./images/play-button-left.png);
  background-color: var(--verde);
  border-radius: 50%;
}

.arrow-right {
  background: center / contain no-repeat url(./images/play-button-right.png);
  background-color: var(--verde);
  border-radius: 50%;
}

.contact-section {
  align-items: center;
  background-color: var(--gris-oscuro);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.message-input input {
  height: 150px;
  margin-bottom: 16px;
}

input {
  outline: none;
  width: 100%;
}
input:focus{
  outline: 3px solid var(--verde);
}

.send-button {
  align-items: center;
  background-color: var(--verde);
  border-radius: 5px;
  color: var(--gris-oscuro);
  font-family: var(--secondary-font);
  display: flex;
  height: 50px;
  justify-content: center;
  margin-bottom: 48px;
  width: 150px;
  margin-left: auto;
  font-size: 20px;
}

.send-button:focus{
  outline: 3px solid var(--gris-oscuro);
  color: var(--gris-oscuro);
  border: 2px solid var(--blanco);
}

.notification {
  align-items: center;
  background-color: var(--verde);
  border-radius: 5px;
  box-shadow: 8px 16px 32px 0px var(--shadow);
  color: var(--blanco);
  display: none;
  font-family: var(--secondary-font);
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 24px;
  top: 24px;
  width: 300px;
}

.modal-container {
  align-items: center;
  background-color: rgba(000, 000, 000, 0.2);
  display: none;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.modal {
  align-items: center;
  background-color: var(--gris-oscuro);
  border-radius: 5px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  position: fixed;
  top: 15%;
  width: 700px;
}

.modal-project-image {
  background: center / cover no-repeat url(./images/project1.png);
  border-radius: 5px;
  border: 2px solid #000;
  height: 400px;
  margin: 16px;
  width: 550px;
}

.input-label{
  color: #fff;
}